<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>
<body>
    <section class="phx-hero">
    <h1 id="demo"><%= gettext "Welcome to %{name}!", name: "BlockChain Analyser Application" %></h1>
</section>
  <section class="container">
    <canvas id="myChart"></canvas>
  </section>
 <section class="row">
<article class="column">
<%=button("transaction time", to: "/transaction_time", method: "get") %>
  </article>
  <article class="column">
<%=button("Get balances", to: "/balance", method: "get") %>
  </article>
</section>

  <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';
    var obj = <%= raw(Poison.encode!(get_trans_time_map_object(@conn))) %>
    console.log(obj);
    obj = JSON.parse(obj)
    var labels = Object.keys(obj);
    var data = Object.values(obj);
    console.log(labels);
    console.log(data);
    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels: labels,
        datasets:[{
          label:'Time(micro sec)',
          data: data,
          backgroundColor:'green',
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Time taken to Mine Block',
          fontSize:25
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
  </script>
</body>
</html>